.container {
    width: 1024px;
    padding: 30px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid  rgb(157, 189, 134);
}

.header-item img {
    margin: 100px 20px 0 0;
    width: 350px;
}

.name {
    font-size: 60px;
    color: rgb(41, 54, 32);
}

.section-title {
    font-size: 40px;
    color: rgb(55, 71, 43);
}
